<h1>Forgot password?</h1>
<h2><%= notice %></h2>

<%= form_with url: forgot_password_path, method: "post", local: true do |f| %>
  <%= f.label :email %> <br/>
  <%= f.email_field :email %> <br/>
  <br/>
  <%= f.submit "Send Reset Password Request"%>
<%end%>
<%=  button_to "Back to login", '/login', method: :get %>