<h1>Reset your password</h1>
<h2><%= error %></h2>

<% if !@user.nil? && @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %> prohibited password update
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless error %>
  <h3>Please enter your new password</h3>
  <%= form_with url: update_password_path, method: "post", local: true do |f| %>
    <%= f.label :password %><br />
    <%= f.password_field :password %> <br />

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %> <br />

    <br/>
    <%= f.submit "Reset Password"%>
  <%end%>
<% end %>
